/* HTML Selectors */
article {
    margin: 10px;
}

body {
    font-family: 'Kalam', cursive;
}

div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

img {
    width: 80%;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

main {
    text-align: center;
}

nav {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: black;
}


/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}


/* ID Selectors */
#players ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#players li{
    margin-left: 15px;
}
#send {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Media Queries */
@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }
    
    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }
}

@media only screen and (max-width: 41em) {
    #players ul{
        flex-direction: column;
    }
}
